<div class="grid-item carousel0">
  <div class="grid-container">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner img-display">
        <div class="carousel-item active">
          <%= image_tag "boston.jpg", :class => "style_image" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "rock_climbing.jpg", :class => "style_image" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "rock_climbing.jpg", :class => "style_image" %>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="container-fluid" id="links">
  <div class="row">
    <div class="col-sm-6 split-1">
      <h2 class="header-1" id="header-follow">Photo Blogs</h2>
      <% @posts.each do |post| %> 
      <div class="content-blogs">
        <h2><%= link_to post.title, post %></h2>
        <a href="<%= post_url(post) %>"><%= image_tag(post.image.tiny.url) %></a>
        <%= post.description %>
        <br>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <hr>
      </div>
      <% end %>
    <br>
    <%= link_to 'New Post', new_post_path %>
    </div>

    <div class="col-sm-6 split-2">
      <h2 class="header" id="header-follow">Blogs</h2>  
        <% @posts.each do |post| %> 
        <div class="content-blogs">
          <h2><%= link_to post.title, post %></h2>
          <a href="<%= post_url(post) %>"><%= image_tag(post.image.tiny.url) %></a>
          <%= post.description %>
          <br>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <hr>
        </div>
        <% end %>
      <br>
      <%= link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>

<br>

<div class="container" id="links">
  <div class="row">
    <div class="col-sm">
      <h3>Books I'm reading</h3>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="col-sm">
      <h3>Outside Links</h3>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="col-sm">
      <h3>Design perspective</h3>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>
